<% favorites.each do |favorite| %>
  <table class='my-4 mx-3'>
    <tr>
      <td>
        <% movie_data = Movie.fetch_movie_data(favorite.movie_id) %>
        <%= link_to movie_path(favorite.movie_id) do %>
          <% if movie_data['poster_path'] %>
            <%= image_tag 'https://image.tmdb.org/t/p/w200' + movie_data['poster_path'], size: '50x80', style: "max-width: 100%;" %>
          <% else %>
            <%= image_tag 'no_image_tate.jpg', size: '50x80', style: "max-width: 100%;" %>
          <% end %>
          <%= movie_data['title'] %>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>