<table class="table table-borderless", style="color: #675D50;">
  <thead>
    <tr>
      <th class="col-2">レビューID</th>
      <th class="col-3">投稿者</th>
      <th class="col-3">レビューした作品名</th>
      <th class="col-3">レビュータイトル</th>
    </tr>
  </thead>
  <% reviews.each do |review| %>
  <tbody>
    <tr>
      <td class="align-middle"><%= review.id %></td>
      <td class="align-middle"><%= review.user.name %></td>
      <% movie_data = Movie.fetch_movie_data(review.movie_id) %>
      <td class="align-middle"><%= movie_data['title'] %></td>
      <td class="align-middle"><%= link_to review.title, admin_review_path(review.id) %></td>
    </tr>
  </tbody>
  <% end %>
</table>