<div class="container">
  <div class='row justify-content-center'>
    <div class="col-12">
      <h3>レビュー一覧</h3>
      <hr>
      <%= render 'admin/searches/form' %>
      <hr>
      <%= render 'admin/reviews/index', reviews: @reviews %>
      <hr>
    </div>

    <p class="pagetop float1">
      <a href="#container">
        <i class="fa-solid fa-angles-up"></i>
      </a>
    </p>

    <div class="text-center my-3">
      <%= paginate @reviews %>
    </div>
  </div>
</div>