<div class='container'>
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="mb-2">
        <h4>レビュータグ"<%= @content %>"がつけられた映画一覧</h4>
      </div>
      <div>
        <%= render 'user/movies/index', moviews: @moviews, content: @content %>
      </div>
      <div class="text-center">
        <%= link_to 'Back', movies_path, class: "back" %>
      </div>
    </div>
  </div>
</div>