<div class='container'>
  <div class="row justify-content-center">
    <div class="col-12">
      <h3><i class="fa-solid fa-tag"></i> レビュータグ"<%= @content %>"がつけられた映画</h3>
      <hr>
      <div class="my-3">
        <%= render 'user/movies/index', movies: @movies %>
        <hr>
      </div>

      <div class="pagination justify-content-center mb-3">
        <%= paginate @movies %>
      </div>
      <div class="text-center mb-3">
        <%= link_to "戻る", movies_path, class: "back" %>
      </div>
    </div>
  </div>
</div>