<h2>お問い合わせ一覧</h2>
<div class='container'>
  <table>
    <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.id %></td>
      <td>
        <%= link_to admin_contact_path(contact.id) do %>
          <%= contact.name %>
        <% end %>
      </td>
      <td>
        <% if contact.completed == true %>
          <span class="text-success font-weight-bold align-middle">対応中</span>
        <% else %>
          <span class="text-secondary font-weight-bold align-middle">対応済み</span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
