<div class="container">
  <div class='row justify-content-center'>
    <div class="col-12">
      <h3><i class="fa-solid fa-user"></i> Users</h3>
      <hr>
      <%= render "user/searches/form" %>
      <hr>
      <%= render "user/users/index", users: @users %>
      <hr>
    </div>

    <p class="pagetop float1">
      <a href="#container">
        <i class="fa-solid fa-angles-up"></i>
      </a>
    </p>

    <div class="text-center my-3">
      <%= paginate @users %>
    </div>
  </div>
</div>