<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">

      <h3><i class="fa-regular fa-handshake"></i> Follow Users</h3>
      <hr>
      <% if @users.exists? %>
        <%= render "user/users/index", users: @users %>
      <% else %>
        <p class="text-center my-5">ユーザーはいません</p>
      <% end %>
      <hr>
    </div>

    <div class="pagination justify-content-center mb-3">
      <%= paginate @users %>
    </div>

    <div class="text-center mb-3">
      <%= link_to "戻る", user_path(@user) %>
    </div>
  </div>
</div>