<div class='container'>
  <div class='row'>
    <div class='col-6'>
      <%= render 'user/movies/show', movie: @movie, average_score: @average_score, movie_genre_names: @movie_genre_names  %>
    </div>
    
    <div class='col-6'>
      <%= render 'form', review: @review %>
      <%= link_to 'Back', movie_review_path, class: "back" %>
    </div>
  </div>
</div>