<%= render 'layouts/errors', obj: @review%>
<div class="container">
  <div class="row justify-content-center">

    <div class="col-lg-5 col-12 my-3">
      <%= render "user/movies/show", movie: @movie, average_score: @average_score, movie_genre_names: @movie_genre_names  %>
    </div>
    
    <div class="col-lg-7 col-12 mt-5">
      <h5><b><i class="fa-solid fa-feather"></i> レビュー編集</b></h5>
      <%= render "form", review: @review %>
    </div>

    <div=class="text-center my-3">
      <%= link_to "Back", movie_path(@movie['id']), class: "back" %>
    </div>

  </div>
</div>