<div class='container'>
  <div class='row'>
    <div class='col-6'>
      <%= render 'user/movies/show', movie: @movie, average_score: @average_score %>
    </div>

    <div class='col-6'>
      <%= render 'form', review: @review %>
    </div>
  </div>
</div>