<div class="row mt-3">
  <% @movies.each do |movie| %>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <div class="card bg-transparent border-0" style="width: 100%;">
        <%= link_to movie_path(movie['id']) do %>
          <% if movie['poster_path'] %>
            <%= image_tag 'https://image.tmdb.org/t/p/w200' + movie['poster_path'], size: "230x300", class: "large shadow float1", style: "max-width: 100%;" %>
          <% else %>
            <%= image_tag 'no_image_tate.jpg', size: "230x300", class: "large shadow float1", style: "max-width: 100%;" %>
          <% end %>
        <% end %>
      </div>

      <div class="card-body">
        <%= movie['title'] %>
      </div>
    </div>
  <% end %>
</div>
