<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1>
        <span class="slide-in leftAnime">
        <span class="slide-in_inner leftAnimeInner">
          What is Kinema Cafe?
        </span>
        </span>
      </h1>
      <p class="text-center">kinema cafeは、カフェのようにのんびり過ごせる映画レビューサイトです。</p>
      <p class="text-center">今日観た映画について、考察を添えてレビューしたり、</p>
      <p class="text-center">誰かと感想を共有することもできます。</p>
    </div>
  </div>
</div>