<div class="container">
  <div class="row justify-content-center">
    <div class="mx-auto">
      <h1 class="text-center">
        <span class="slide-in leftAnime">
        <span class="slide-in_inner leftAnimeInner">
          About Kinema Cafe
        </span>
        </span>
      </h1>
      <p class="text-center">kinema cafeは、カフェのようにのんびり過ごせる映画レビューサイトです。</p>
      <p class="text-center">鑑賞した映画について、考察を添えてレビューしたり、</p>
      <p class="text-center">誰かと感想を共有することもできます。</p>
    </div>
  </div>

  <div class="row justify-content-center my-5">
    <div class="col-lg-3 col-5 d-flex justify-content-center">
      <div class="card h-100 border-0" style="width: 25rem;">
        <div class="d-flex justify-content-center align-items-center" style="height: 80px;">
          <div class="circle">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
        <div class="card-body text-center" style="height: 300px;">
          <h5 class="card-title">Movie search !</h5>
          <p class="card-text">気になる映画タイトルを検索</p>
          <p class="card-text">次鑑賞したい映画を探すことができます</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-5 d-flex justify-content-center">
      <div class="card h-100 border-0" style="width: 25rem;">
        <div class="d-flex justify-content-center align-items-center" style="height: 80px;">
          <div class="circle">
            <i class="fa-solid fa-feather"></i>
          </div>
        </div>
        <div class="card-body text-center" style="height: 300px;">
          <h5 class="card-title">Review !</h5>
          <p class="card-text">鑑賞した映画の感想や考察を投稿</p>
          <p class="card-text">評価も添えておすすめ度も記録できます</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-5 d-flex justify-content-center">
      <div class="card h-100 border-0" style="width: 25rem;">
        <div class="d-flex justify-content-center align-items-center" style="height: 80px;">
          <div class="circle">
            <i class="fa-solid fa-heart"></i>
          </div>
        </div>
        <div class="card-body text-center" style="height: 300px;">
          <h5 class="card-title">favorite !</h5>
          <p class="card-text">お気に入りの映画にいいねをつけましょう</p>
          <p class="card-text">他のユーザーのいいねも見ることができます</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-5 d-flex justify-content-center">
      <div class="card h-100 border-0" style="width: 25rem;">
        <div class="d-flex justify-content-center align-items-center" style="height: 80px;">
          <div class="circle">
            <i class="fa-solid fa-handshake"></i>
          </div>
        </div>
        <div class="card-body text-center" style="height: 300px;">
          <h5 class="card-title">Communication !</h5>
          <p class="card-text">他のユーザーのレビューにコメントをしたり</p>
          <p class="card-text">ユーザーをフォローすることもできます</p>
        </div>
      </div>
    </div>
  </div>
</div>