<dev class="container">
  <div class="row">
    <div class="mx-auto">
      <h1>
        <span class="slide-in leftAnime">
        <span class="slide-in_inner leftAnimeInner">
          Welcome to <i class="fa-solid fa-clapperboard"></i> <b>Kinema Cafe.</b>
        </span>
        </span>
      </h1>
      <p class="text-center">カフェのようにのんびり映画をたしなむレビューサイト</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row mt-5">
          <%=link_to "guest sign in (閲覧用)", user_guest_sign_in_path, method: :post, class: "text-decoration-none btntransform" %>
        </div>
        <div class="row mt-5">
          <%= link_to 'sign in', new_user_session_path, class: "text-decoration-none btntransform" %>
        </div>
        <div class="row mt-5">
          <%= link_to 'sign up', new_user_registration_path, class: "text-decoration-none btntransform" %>
        </div>
      </div>
    </dev>
  </dev>
</dev>