/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.field_with_errors {
  display: contents;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  flex: 1;
  color: #675D50;
}

body a {
color: #801E1E;
}

body a:hover {
color: #801E1E;
}

.square-button {
  width: 30px;
  height: 30px;
  background-color: #b4ada9;
  border: 1px solid #b4ada9;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.square-button2 {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #b4ada9;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #b4ada9;
  color: #fff;
}

/*アバウトページ*/
.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #b4ada9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle:hover::before {
    content: '';
    position: absolute;
    border: 1px solid #333;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity:1;
    animation:1s circleanime2 forwards;
    box-sizing: border-box;
}

@keyframes circleanime2{
	0%{
	  transform: scale(0);
	}
	100%{
		transform:scale(2);
		opacity: 0;
	}
}

/*ボタン*/
.float1 {
  border: 1px solid #ccc;
  color: #333;
  padding:10px 20px;
  display: inline-block;
  text-decoration: none; 
  outline: none;
  border-radius: 20px;
  transition: all .3s;
}

/* ハンバーガーメニューに格納された時のスタイル */
@media (max-width: 800px) {
  .nav-item {
    margin: 5px 20px;
  }
  .nav-link {
    display: block;
    text-align: center;
  }
}

.float1:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-color: transparent;
}

/*topリンク*/
.navbar-brand.underline-hover {
  position: relative;
  display: inline-block;
}

.navbar-brand.underline-hover::after {
  position: absolute;
  bottom: -0.1em;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: .3s;
}

.navbar-brand.underline-hover:hover::after {
  bottom: 0;
  opacity: 1;
}

/*ログイン・新規登録ボタン*/
.btntransform{
  position: relative;
  display: inline-block;
  padding:0 0 0 15px;
  line-height: 50px;
  color: #333;
  text-decoration: none;
  outline: none;
}

.btntransform::before{
  content:'';
  position:absolute;
  left:0;
  z-index: -1;
  width: 50px;
  height: 50px;
  background: #b4ada9;
  border-radius: 25px;
  transition:.3s ease-out;
}
.btntransform:hover::before{
  width:212px;
}

.btntransform::after{
  position: absolute;
  content: '';
  top: 1.3em;
  right: -15px;
  width: 5px;
  height: 5px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
  box-sizing: border-box;
}

/*流れるテキスト*/
.slide-in {
  overflow: hidden;
  display: inline-block;
}

.slide-in_inner {
  display: inline-block;
}

.leftAnime{
  opacity: 0;
}

.slideAnimeLeftRight {
  animation-name:slideTextX100;
  animation-duration:0.8s;
  animation-fill-mode:forwards;
  opacity: 0;
}

@keyframes slideTextX100 {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideAnimeRightLeft {
  animation-name:slideTextX-100;
  animation-duration:0.8s;
  animation-fill-mode:forwards;
  opacity: 0;
}

@keyframes slideTextX-100 {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/*タグの形*/
.tag {
  width: 150px;
  position: relative;
  margin-right: 20px;
  padding: 10px 25px;
  background-image:
    radial-gradient(circle, white 2px, #ddcdb3 3px 7px, transparent 8px),
    linear-gradient(135deg, transparent 10px, #ddcdb3 11px),
    linear-gradient(45deg, transparent 10px, #ddcdb3 11px);
  background-repeat: no-repeat;
  background-size: 25px, 100% 50%, 100% 50%;
  background-position: left, top, bottom;
  font-weight: bold;
  font-size: 8px;
  overflow: hidden;
}

/*検索方法欄*/
.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  transition: transform 0.3s ease;
}

/* コラプスが開いた状態で上向き */
[data-toggle="collapse"][aria-expanded="true"] .arrow {
  transform: rotate(180deg);
}