/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.field_with_errors {
  display: contents;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  flex: 1;
  color: #675D50;
}

.footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #b4ada9;
  color: #fff;
}

/*ボタン・*/
.float1 {
    border: 1px solid #ccc;
    color: #333;
    padding:10px 20px;
    display: inline-block;
    text-decoration: none; 
    outline: none;
    border-radius: 20px;
    transition: all .3s;
}

.float1:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-color: transparent;
}

/*topリンク*/
.navbar-brand.underline-hover {
  position: relative;
  display: inline-block;
}

.navbar-brand.underline-hover::after {
  position: absolute;
  bottom: -0.1em;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: .3s;
}

.navbar-brand.underline-hover:hover::after {
  bottom: 0;
  opacity: 1;
}

.btnlinestretches2{
  position:relative;
  color:#333;
  padding: 10px 30px;
  display:inline-block;
  text-decoration: none;
  outline: none;
}

.btnlinestretches2::before,
.btnlinestretches2::after {
  content:'';
  position:absolute;
  border:solid #333;
  width:10px;
  height:10px;
  transition:all 0.3s ease-in-out;
}

.btnlinestretches2::before{
  top:0;
  left:0;
  border-width:2px 0 0 2px;
}

.btnlinestretches2::after{
  bottom:0;
  right:0;
  border-width:0 2px 2px 0;
}

.btnlinestretches2:hover::before,
.btnlinestretches2:hover::after{
  width:calc(100% - 2px);
  height:calc(100% - 2px);
  border-color:#666
}

.btn06{
  position: relative;
  text-decoration: none;
  display: inline-block;
  background:#333;
  color:#fff;
  padding: 10px 40px 10px 30px;
  border-radius:25px;
  text-align: center;
  outline: none;
  transition: ease .2s;
}

.btn06:hover{
  background:#555;
}

.btnarrow{
  position: relative;
  display: inline-block;
  padding: 0 20px;
  color: #333;
  text-decoration: none;
  outline: none;
}

.btnarrow::before{
  content: '';
  position: absolute;
  bottom:-8px;
  left:15%;
  width: 85%;
  height: 1px;
  background:#333;
  transition: all .3s;
}

.btnarrow::after{
  content: '';
  position: absolute;
  bottom:-3px;
  right:0;
  width: 15px;
  height:1px;
  background:#333;
  transform: rotate(35deg);
  transition: all .3s;
}

/*topボタン*/
.btntransform{
  position: relative;
  display: inline-block;
  padding:0 0 0 15px;
  line-height: 50px;
  color: #333;
  text-decoration: none;
  outline: none;
}

.btntransform::before{
  content:'';
  position:absolute;
  left:0;
  z-index: -1;
  width: 50px;
  height: 50px;
  background: #b4ada9;
  border-radius: 25px;
  transition:.3s ease-out;
}
.btntransform:hover::before{
  width:212px;
}

.btntransform::after{
  position: absolute;
  content: '';
  top: 1.3em;
  right: -15px;
  width: 5px;
  height: 5px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
}

/*流れるテキスト*/
.slide-in {
  overflow: hidden;
  display: inline-block;
}

.slide-in_inner {
  display: inline-block;
}

.leftAnime{
  opacity: 0;
}

.slideAnimeLeftRight {
  animation-name:slideTextX100;
  animation-duration:0.8s;
  animation-fill-mode:forwards;
  opacity: 0;
}

@keyframes slideTextX100 {
  from {
    transform: translateX(-100%); /*要素を左の枠外に移動*/
    opacity: 0;
  }

  to {
    transform: translateX(0);/*要素を元の位置に移動*/
    opacity: 1;
  }
}

.slideAnimeRightLeft {
  animation-name:slideTextX-100;
  animation-duration:0.8s;
  animation-fill-mode:forwards;
  opacity: 0;
}

@keyframes slideTextX-100 {
  from {
    transform: translateX(100%);/*要素を右の枠外に移動*/
    opacity: 0;
  }

  to {
    transform: translateX(0);/*要素を元の位置に移動*/
    opacity: 1;
  }
}

/*映画一覧ローディング*/
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeOut 1.5s 2.5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loading__logo {
  opacity: 0;
  animation: logo_fade 2s 0.5s forwards;
  width: 300px;
}

@keyframes logo_fade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  60% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
  }
}

/*タグの形*/
.tag {
  width: 150px;
  position: relative;
  margin-right: 20px;
  padding: 10px 20px;
  background-image:
    radial-gradient(circle, white 2px, #ddcdb3 3px 7px, transparent 8px),
    linear-gradient(135deg, transparent 10px, #ddcdb3 11px),
    linear-gradient(45deg, transparent 10px, #ddcdb3 11px);
  background-repeat: no-repeat;
  background-size: 25px, 100% 50%, 100% 50%;
  background-position: left, top, bottom;
  font-weight: bold;
  font-size: 8px;
  overflow: hidden;
}

/*ページトップへのスクロール*/
.pagetop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 15px;
}
.pagetop a {
    display: block;
    text-align: center;
    color: #222;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 10px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
.pagetop a:hover {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    padding:5px 10px;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

