<footer id="footer" style="background-color: #b4ada9;">
  <div class='container'>
    <div class='row'>
      <div class='mx-auto mt-5', style="color: #fff">
        <p class="text-center">© 2024 aaaaa</p>
        <p class="text-center">"This application uses TMDB and the TMDB APIs but is not endorsed, certified, or otherwise approved by TMDB."</p>
      </div>
    </div>
  </div>
</div>