<footer id="footer" style="background-color: #b4ada9;">
  <div class='container'>
    <div class='row'>
      <div class='mx-auto mt-3', style="color: #fff">
        <% if admin_signed_in? %>
        <% else %>
          <p class="text-center"><i class="fa-solid fa-mobile-screen"></i> TEL: 000-0000-0000 / <i class="fa-regular fa-envelope"></i> Mail: a@aaa</p>
          <p class="text-center">管理者の方は<%=link_to "こちら", new_admin_session_path %>から</p>
        <% end %>
        <p class="text-center">© 2024 okura</p>
        <p class="text-center">"This application uses TMDB and the TMDB APIs but is not endorsed, certified, or otherwise approved by TMDB."</p>
      </div>
    </div>
  </div>
</div>